.landingPage {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.landingMsg {
    color: white;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    width: 70%;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#button1{
    background-color: #ff7300;
    color: #fff;
    /* padding: 1rem 8.8rem 1rem 8.8rem; */
    height: 3rem;
    width: 100%;
    padding: auto;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    width: 100%;
}

#button2{
    background-color: #fff;
    color:  black;
    height: 3rem;
    width: 100%;
    /* padding: 1rem 7.5rem 1rem 7.5rem; */
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 450px) {
    /* #button1 {
        padding: 1rem 6.7rem 1rem 6.7rem;
    } 
    #button2 {
        padding: 1rem 5.5rem 1rem 5.5rem;
    }  */
}

@media (max-width: 375px) {
    .landingMsg {
        font-size: 20px;
    }
}

/* @media (max-width: 354px) {
    .landingMsg {
        font-size: 20px;
    }
} */

/* @media (max-width: 290px) {
    .landingMsg {
        font-size: 15px;
    }
} */