.navbar {
    display: flex;
    flex-direction: row;
}

.userprofile {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.avatar {
    width: 50%;
    height: 50%;
    margin-top: 10px;
}

.username {
    color: white;
    margin-top: 1rem;
}