.register {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    width: 100%;
}

.register > input {
    width: 70%;
    height: 1.25rem;
    padding: 10px;
    border-radius: 0.5rem;
    border: none;
}

.register > button {
    height: 2.5rem;
    color: white;
    background: #f14668;
    border: none;
    font-size: 1rem;
    width: 7%;
    border-radius: 0.5rem;
    cursor: pointer;
}