@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&display=swap');

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
  width: 70%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.view-container {
  display: flex;
  /* justify-content: space-evenly; */
  background-image: url(https://cloud-msg.netlify.app/img/Nightclub-Photography-4.70e2caa3.jpg);
  background-size: cover;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

Messages {
  background: green;
}