body {
  height: 100vh;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  background-image: url(https://cloud-msg.netlify.app/img/Nightclub-Photography-4.70e2caa3.jpg);
  height: 100%;
  background-size: cover;
}

.view-container {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}